# Exercises Part I

In [1]:
import pandas as pd
import numpy as np
from pydataset import data
from env import host, user, password

In [2]:
def get_db_url(user,host,password):
    url = f'mysql+pymysql://{user}:{password}@{host}/employees'
    return url

In [3]:
url = get_db_url(user,host,password)

In [4]:
pd.read_sql('SELECT * FROM employees LIMIT 5 OFFSET 50', url)

   emp_no  birth_date first_name  last_name gender   hire_date
0   10051  1953-07-28   Hidefumi      Caine      M  1992-10-15
1   10052  1961-02-26     Heping     Nitsch      M  1988-05-21
2   10053  1954-09-13     Sanjiv   Zschoche      F  1986-02-04
3   10054  1957-04-04     Mayumi  Schueller      M  1995-03-13
4   10055  1956-06-06     Georgy     Dredge      M  1992-04-27

## Q5

Q5a

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:ysql.pymysql

Q5b

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FOM employees LIMIT 5 OFFSET 50' at line 1")
[SQL: SELECT * FOM employees LIMIT 5 OFFSET 50]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Q6

In [5]:
employees_df = pd.read_sql('SELECT * FROM employees', url)

In [6]:
employees_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300024 entries, 0 to 300023
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   emp_no      300024 non-null  int64
 1   birth_date  300024 non-null  object
 2   first_name  300024 non-null  object
 3   last_name   300024 non-null  object
 4   gender      300024 non-null  object
 5   hire_date   300024 non-null  object
dtypes: int64(1), object(5)
memory usage: 13.7+ MB

In [7]:
titles_df = pd.read_sql('SELECT * FROM titles', url)

In [8]:
titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443308 entries, 0 to 443307
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   emp_no     443308 non-null  int64
 1   title      443308 non-null  object
 2   from_date  443308 non-null  object
 3   to_date    443308 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.5+ MB

## Q7

#### employees, 300024 rows × 6 columns
#### titles,    443308 rows × 4 columns

This is expected because the employees data base is very large and tables differ in columns as tables are often referenced to one another in the database.

## Q8

In [9]:
employees_df.describe()

              emp_no
count  300024.000000
mean   253321.763392
std    161828.235540
min     10001.000000
25%     85006.750000
50%    249987.500000
75%    424993.250000
max    499999.000000

In [10]:
titles_df.describe()

              emp_no
count  443308.000000
mean   253075.034430
std    161853.292613
min     10001.000000
25%     84855.750000
50%    249847.500000
75%    424891.250000
max    499999.000000

## Q9

In [11]:
pd.read_sql('SELECT DISTINCT title FROM titles', url)

                title
0     Senior Engineer
1               Staff
2            Engineer
3        Senior Staff
4  Assistant Engineer
5    Technique Leader
6             Manager

## Q10

In [12]:
pd.read_sql('SELECT to_date FROM titles ORDER BY to_date LIMIT 10', url)

      to_date
0  1985-03-01
1  1985-03-11
2  1985-03-20
3  1985-03-23
4  1985-04-17
5  1985-04-20
6  1985-04-21
7  1985-04-23
8  1985-05-05
9  1985-05-05

Oldest to_date is 1985-03-01

## Q11

In [13]:
pd.read_sql('SELECT to_date FROM titles ORDER BY to_date DESC LIMIT 10', url)

      to_date
0  9999-01-01
1  9999-01-01
2  9999-01-01
3  9999-01-01
4  9999-01-01
5  9999-01-01
6  9999-01-01
7  9999-01-01
8  9999-01-01
9  9999-01-01

Most recent to_date is 9999-01-01

# Exercises Part II

## Q1

In [14]:
# Create the users DataFrame.

users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [15]:
# Create the roles DataFrame

roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

## Q2

In [16]:
users.merge(roles, how='right')

   id       name  role_id
0   1      admin      NaN
1   2     author      NaN
2   3   reviewer      NaN
3   4  commenter      NaN

## Q3

In [17]:
users.merge(roles, how='left')

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

## Q4

In [18]:
usersdropid = users.drop(columns='id')

In [19]:
usersdropid.merge(roles, how='left')

    name  role_id  id
0    bob      1.0 NaN
1    joe      2.0 NaN
2  sally      3.0 NaN
3   adam      3.0 NaN
4   jane      NaN NaN
5   mike      NaN NaN

Missing foreign key generates many null values in resulting table

## Q5, Q6, Q7

In [20]:
mpg = data('mpg')

In [21]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

234 rows and 11 columns

## Q9

In [22]:
mpg.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

## Q10

In [23]:
len(pd.unique(mpg['manufacturer']))

15

## Q11

In [24]:
len(pd.unique(mpg['model']))

38

## Q12

In [25]:
mpg = mpg.assign(mileage_difference=mpg.hwy-mpg.cty)

In [26]:
mpg = mpg.assign(average_mileage= (mpg.hwy+mpg.cty)/2)

In [27]:
mpg = mpg.assign(is_automatic= mpg['trans'].str.contains('auto'))

In [28]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True

## Q15

In [51]:
mpg.sort_values(by=['manufacturer','average_mileage'], ascending=False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,39.5,False
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11,38.5,False
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,35.0,True
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5,True
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,20.5,True
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10,20.0,True
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10,20.0,False
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,9,19.5,True
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,7,19.5,True

Volkswagen has the better average_mileage

## Q16

In [44]:
#mpg.sort_values(by='is_automatic', ascending=False)

In [47]:
mpg[mpg['is_automatic']==True].sort_values(by='average_mileage', ascending=False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12,35.0,True
106,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact,11,30.5,True
198,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,9,30.5,True
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12,30.0,True
195,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact,9,28.5,True
104,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,28.0,True
101,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact,8,28.0,True
194,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact,6,27.0,True
144,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize,8,27.0,True
190,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,9,26.5,True
183,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize,10,26.0,True
34,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize,8,26.0,True
216,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5,True
111,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize,9,25.5,True
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5,True
211,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,7,25.5,True
218,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,8,25.0,True
227,volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact,9,24.5,True
187,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact,6,24.0,True
181,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize,6,24.0,True
119,hyundai,tiburon,2.0,2008,4,auto(l4),f,20,27,r,subcompact,7,23.5,True
115,hyundai,sonata,3.3,2008,6,auto(l5),f,19,28,r,midsize,9,23.5,True
166,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact,5,23.5,True
171,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,7,23.5,True
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5,True
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize,11,23.5,True
186,toyota,camry,3.5,2008,6,auto(s6),f,19,28,r,midsize,9,23.5,True
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5,True
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,11,23.5,True
143,nissan,altima,2.4,1999,4,auto(l4),f,19,27,r,compact,8,23.0,True
164,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv,6,23.0,True
158,pontiac,grand prix,3.8,2008,6,auto(l4),f,18,28,r,midsize,10,23.0,True
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,8,23.0,True
33,chevrolet,malibu,2.4,1999,4,auto(l4),f,19,27,r,midsize,8,23.0,True
147,nissan,altima,3.5,2008,6,auto(av),f,19,26,p,midsize,7,22.5,True
116,hyundai,tiburon,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,22.5,True
215,volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5,True
209,volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact,7,22.5,True
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,9,22.5,True
193,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,9,22.5,True
169,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact,7,22.5,True
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5,22.5,True
225,volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact,7,22.5,True
113,hyundai,sonata,2.5,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
184,toyota,camry,3.0,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
150,nissan,maxima,3.5,2008,6,auto(av),f,19,25,p,midsize,6,22.0,True
155,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
157,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize,10,22.0,True
191,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact,8,22.0,True
148,nissan,maxima,3.0,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
109,hyundai,sonata,2.4,1999,4,auto(l4),f,18,26,r,midsize,8,22.0,True
35,chevrolet,malibu,3.1,1999,6,auto(l4),f,18,26,r,midsize,8,22.0,True
92,ford,mustang,3.8,1999,6,auto(l4),r,18,25,r,subcompact,7,21.5,True
37,chevrolet,malibu,3.6,2008,6,auto(s6),f,17,26,r,midsize,9,21.5,True
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5,True
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0,True
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0,True
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8,21.0,True
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize,10,21.0,True
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize,8,21.0,True
161,subaru,forester awd,2.5,1999,4,auto(l4),4,18,24,r,suv,6,21.0,True
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0,True
159,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize,9,20.5,True
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5,True
165,subaru,forester awd,2.5,2008,4,auto(l4),4,18,23,p,suv,5,20.5,True
120,hyundai,tiburon,2.7,2008,6,auto(l4),f,17,24,r,subcompact,7,20.5,True
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5,True
39,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan,7,20.5,True
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,9,20.5,True
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact,10,20.0,True
94,ford,mustang,4.0,2008,6,auto(l5),r,16,24,r,subcompact,8,20.0,True
27,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater,10,20.0,True
47,dodge,caravan 2wd,3.8,2008,6,auto(l6),f,16,23,r,minivan,7,19.5,True
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize,9,19.5,True
123,jeep,grand cherokee 4wd,3.0,2008,6,auto(l5),4,17,22,d,suv,5,19.5,True
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7,19.5,True
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize,7,19.5,True
48,dodge,caravan 2wd,4.0,2008,6,auto(l6),f,16,23,r,minivan,7,19.5,True
25,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,8,19.0,True
40,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0,True
41,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan,6,19.0,True
98,ford,mustang,4.6,2008,8,auto(l5),r,15,22,r,subcompact,7,18.5,True
45,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,22,r,minivan,7,18.5,True
178,toyota,4runner 4wd,4.0,2008,6,auto(l5),4,16,20,r,suv,4,18.0,True
175,toyota,4runner 4wd,2.7,1999,4,auto(l4),4,16,20,r,suv,4,18.0,True
207,toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup,4,18.0,True
46,dodge,caravan 2wd,3.8,1999,6,auto(l4),f,15,21,r,minivan,6,18.0,True
95,ford,mustang,4.6,1999,8,auto(l4),r,15,21,r,subcompact,6,18.0,True
202,toyota,toyota tacoma 4wd,2.7,1999,4,auto(l4),4,16,20,r,pickup,4,18.0,True
125,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv,5,17.5,True
153,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv,6,17.0,True
205,toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup,4,17.0,True
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6,17.0,True
21,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,6,17.0,True
124,jeep,grand cherokee 4wd,3.7,2008,6,auto(l5),4,15,19,r,suv,4,17.0,True
176,toyota,4runner 4wd,3.4,1999,6,auto(l4),4,15,19,r,suv,4,17.0,True
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv,5,16.5,True
53,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5,True
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,14,19,r,pickup,5,16.5,True
128,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,14,19,r,suv,5,16.5,True
82,ford,explorer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6,16.0,True
139,mercury,mountaineer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6,16.0,True
140,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv,6,16.0,True
50,dodge,dakota pickup 4wd,3.7,2008,6,auto(l4),4,14,18,r,pickup,4,16.0,True
81,ford,explorer 4wd,4.0,2008,6,auto(l5),4,13,19,r,suv,6,16.0,True
63,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5,True
126,jeep,grand cherokee 4wd,4.7,1999,8,auto(l4),4,14,17,r,suv,3,15.5,True
200,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv,5,15.5,True
129,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,5,15.5,True
80,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5,True
179,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv,3,15.5,True
151,nissan,pathfinder 4wd,3.3,1999,6,auto(l4),4,14,17,r,suv,3,15.5,True
32,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,3,15.5,True
84,ford,f150 pickup 4wd,4.2,1999,6,auto(l4),4,14,17,r,pickup,3,15.5,True
138,mercury,mountaineer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5,True
78,ford,explorer 4wd,4.0,1999,6,auto(l5),4,14,17,r,suv,3,15.5,True
58,dodge,durango 4wd,3.9,1999,6,auto(l4),4,13,17,r,suv,4,15.0,True
137,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6,15.0,True
61,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0,True
83,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4,15.0,True
90,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup,4,15.0,True
88,ford,f150 pickup 4wd,4.6,2008,8,auto(l4),4,13,17,r,pickup,4,15.0,True
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,13,17,r,suv,4,15.0,True
22,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,4,15.0,True
77,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,6,15.0,True
73,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0,True
132,land rover,range rover,4.2,2008,8,auto(s6),4,12,18,r,suv,6,15.0,True
154,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,6,15.0,True
133,land rover,range rover,4.4,2008,8,auto(s6),4,12,18,r,suv,6,15.0,True
68,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0,True
51,dodge,dakota pickup 4wd,3.9,1999,6,auto(l4),4,13,17,r,pickup,4,15.0,True
67,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,13,17,r,pickup,4,15.0,True
141,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,4,15.0,True
87,ford,f150 pickup 4wd,4.6,1999,8,auto(l4),4,13,16,r,pickup,3,14.5,True
23,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,5,14.5,True
44,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan,6,14.0,True
75,ford,expedition 2wd,4.6,1999,8,auto(l4),r,11,17,r,suv,6,14.0,True
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6,14.0,True
76,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,6,14.0,True
136,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,5,13.5,True
62,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,5,13.5,True
199,toyota,land cruiser wagon 4wd,4.7,1999,8,auto(l4),4,11,15,r,suv,4,13.0,True
89,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup,4,13.0,True
134,land rover,range rover,4.6,1999,8,auto(l4),4,11,15,p,suv,4,13.0,True
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0,True
131,land rover,range rover,4.0,1999,8,auto(l4),4,11,15,p,suv,4,13.0,True
74,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,4,13.0,True
57,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,4,13.0,True
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,4,13.0,True
64,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,4,13.0,True
31,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,4,13.0,True
130,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv,3,12.5,True
30,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,3,12.5,True
60,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5,True
55,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5,True
127,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,3,10.5,True
66,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup,3,10.5,True

In [48]:
mpg[mpg['is_automatic']==False].sort_values(by='average_mileage', ascending=False)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,mileage_difference,average_mileage,is_automatic
222,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact,9,39.5,False
213,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact,11,38.5,False
197,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,9,32.5,False
196,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact,9,30.5,False
100,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact,5,30.5,False
105,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact,8,30.0,False
102,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact,7,28.5,False
145,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize,9,27.5,False
189,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,10,26.0,False
103,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact,6,26.0,False
112,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize,10,26.0,False
182,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize,10,26.0,False
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5,False
224,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact,8,25.0,False
228,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize,8,25.0,False
208,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact,8,25.0,False
188,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact,8,25.0,False
214,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact,8,25.0,False
180,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize,8,25.0,False
142,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact,8,25.0,False
210,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,8,25.0,False
108,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact,8,25.0,False
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0,False
219,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,8,25.0,False
217,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,8,25.0,False
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0,False
226,volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact,8,24.0,False
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,8,24.0,False
117,hyundai,tiburon,2.0,1999,4,manual(m5),f,19,29,r,subcompact,10,24.0,False
118,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact,8,24.0,False
173,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,7,23.5,False
162,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv,7,23.5,False
146,nissan,altima,3.5,2008,6,manual(m6),f,19,27,p,midsize,8,23.0,False
110,hyundai,sonata,2.4,1999,4,manual(m5),f,18,27,r,midsize,9,22.5,False
168,subaru,impreza awd,2.5,1999,4,manual(m5),4,19,26,r,subcompact,7,22.5,False
167,subaru,impreza awd,2.2,1999,4,manual(m5),4,19,26,r,subcompact,7,22.5,False
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0,False
192,toyota,camry solara,3.0,1999,6,manual(m5),f,18,26,r,compact,8,22.0,False
185,toyota,camry,3.0,1999,6,manual(m5),f,18,26,r,midsize,8,22.0,False
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6,22.0,False
163,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv,6,22.0,False
149,nissan,maxima,3.0,1999,6,manual(m5),f,19,25,r,midsize,6,22.0,False
91,ford,mustang,3.8,1999,6,manual(m5),r,18,26,r,subcompact,8,22.0,False
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,8,22.0,False
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,8,22.0,False
114,hyundai,sonata,2.5,1999,6,manual(m5),f,18,26,r,midsize,8,22.0,False
93,ford,mustang,4.0,2008,6,manual(m5),r,17,26,r,subcompact,9,21.5,False
160,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv,7,21.5,False
26,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater,10,21.0,False
24,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,10,21.0,False
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact,8,21.0,False
221,volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact,7,20.5,False
122,hyundai,tiburon,2.7,2008,6,manual(m5),f,17,24,r,subcompact,7,20.5,False
212,volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact,7,20.5,False
121,hyundai,tiburon,2.7,2008,6,manual(m6),f,16,24,r,subcompact,8,20.0,False
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,10,20.0,False
203,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup,5,19.5,False
28,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater,9,19.5,False
97,ford,mustang,4.6,2008,8,manual(m5),r,15,23,r,subcompact,8,19.0,False
96,ford,mustang,4.6,1999,8,manual(m5),r,15,22,r,subcompact,7,18.5,False
174,toyota,4runner 4wd,2.7,1999,4,manual(m5),4,15,20,r,suv,5,17.5,False
201,toyota,toyota tacoma 4wd,2.7,1999,4,manual(m5),4,15,20,r,pickup,5,17.5,False
49,dodge,dakota pickup 4wd,3.7,2008,6,manual(m6),4,15,19,r,pickup,4,17.0,False
99,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact,6,17.0,False
79,ford,explorer 4wd,4.0,1999,6,manual(m5),4,15,19,r,suv,4,17.0,False
206,toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup,3,16.5,False
204,toyota,toyota tacoma 4wd,3.4,1999,6,manual(m5),4,15,17,r,pickup,2,16.0,False
177,toyota,4runner 4wd,3.4,1999,6,manual(m5),4,15,17,r,suv,2,16.0,False
152,nissan,pathfinder 4wd,3.3,1999,6,manual(m5),4,15,17,r,suv,2,16.0,False
52,dodge,dakota pickup 4wd,3.9,1999,6,manual(m5),4,14,17,r,pickup,3,15.5,False
85,ford,f150 pickup 4wd,4.2,1999,6,manual(m5),4,14,17,r,pickup,3,15.5,False
86,ford,f150 pickup 4wd,4.6,1999,8,manual(m5),4,13,16,r,pickup,3,14.5,False
56,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,6,14.0,False
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,14.0,False
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,12,16,r,pickup,4,14.0,False
72,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,5,13.5,False
70,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup,3,10.5,False

Manual transmission cars have better mileage